In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Загрузка и подготовка данных

Необходимо сформировать общий датасет

In [3]:
# Создаем пустой список для хранения датафреймов
datasets = []

# Указываем путь к директории, содержащей наши CSV файлы
directory = 'data'

# Прочитаем каждый CSV файл и добавим его в список датафреймов
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        df = pd.read_csv(os.path.join(directory, filename))
        datasets.append(df)

# Объединяем все датафреймы в один, игнорируя индексы и используя внешнее объединение
df = pd.concat(datasets, ignore_index=True, join='outer')

# Извлекаем год из столбца tourney_id и преобразуем его в целочисленный тип
df['year'] = df['tourney_id'].str.extract(r'(\d{4})').astype(int)

# Сохраняем объединенный датафрейм в файл 'full_data/combined_atp_matches.csv' без индексов
df.to_csv('data/all_atp.csv', index=False)

In [2]:
df = pd.read_csv('data/all_atp.csv')
df.shape

(191920, 50)

In [3]:
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,year
0,1999-339,Adelaide,Hard,32.0,A,19990104,1,102158,1.0,NaN,...,14.0,4.0,7.0,3.0,7.0,4.0,3315.0,115.0,415.0,1999
1,1999-339,Adelaide,Hard,32.0,A,19990104,2,101792,NaN,NaN,...,31.0,12.0,11.0,5.0,8.0,64.0,723.0,77.0,635.0,1999
2,1999-339,Adelaide,Hard,32.0,A,19990104,3,102562,NaN,NaN,...,12.0,8.0,8.0,3.0,8.0,75.0,669.0,59.0,757.0,1999
3,1999-339,Adelaide,Hard,32.0,A,19990104,4,103720,NaN,WC,...,30.0,17.0,11.0,8.0,10.0,100.0,482.0,35.0,1007.0,1999
4,1999-339,Adelaide,Hard,32.0,A,19990104,5,101727,4.0,NaN,...,16.0,13.0,8.0,4.0,7.0,27.0,1280.0,81.0,613.0,1999

In [ ]:
missing_percentage = df.isnull().mean() * 100
# Визуализация процентов пропусков
missing_percentage.plot(kind='bar', figsize=(12, 6))
plt.ylabel('Proportion of Missing Values (%)')
plt.xlabel('Columns')
plt.title('Percentage of Missing Values by Column')
plt.show()

: